body {
	/*background-color: white;*/
	background-image: url("../resources/background.svg");
	color: black;
	margin-left: auto;
	width: 80vw;
	font-family: sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 100wp;
	color: black;
	/*background: yellow;*/
}

#quizz {
	background-color: rgba(255, 255, 255, 0.7);
	width: 50vw;
	height: 95vh;
	padding: 15px;
	overflow: scroll;
}

#progress {
	background-color: grey;
	width:  50vw;
	height: 4vh;
	margin-bottom: 2px;
}

#answer-holder {
	margin-top: 2px;
}

#flag-img {
	max-width: 65%;
	max-height: 60vh;
}

#flag-img-corr {
	height: 4vh;
}

#answer {
	width: 43vw;
}
#submit {
	min-width: 5vw;

}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

.regularanswer {
	color: black;
}