body {
	/*background-color: white;*/
	background-image: url("../resources/background.svg");
	color: black;
	margin-left: auto;
	width: 80vw;
	font-family: sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 100wp;
	color: black;
	/*background: yellow;*/
}

#quizz {
	background-color: rgba(255, 255, 255, 0.7);
	width: 50vw;
	height: 95vh;
	padding: 15px;
	overflow: scroll;
}

#progress {
	background-color: grey;
	width:  50vw;
	height: 4vh;
	margin-bottom: 2px;
}

#answer-holder {
	margin-top: 2px;
}

#flag-holder {
/*	display: flex;
	justify-content: center;
	flex-direction: column;*/
}

#flag-img {
	/*max-width: 65%;*/
	height: 40vh;
}

#flag-img-corr {
	height: 4vh;
}

.blink {
	opacity: 0;
}

.small {
	max-width: 20px;
	max-height: 20px;
}

#answer {
	width: 43vw;
}
#submit {
	min-width: 5vw;

}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

.regularanswer {
	color: black;
}

.indication {
	color: grey;
	font-style: italic;
}

.strikethrough {
	text-decoration: line-through;
}

.spaced {
	display: flex;
	justify-content: space-around;
}